html {
    overflow: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    height:100%;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    background: linear-gradient(135deg, #1a75fd40 -10%, #1a75fdBF 80%);
}

nav ul {
    list-style: none;
}